.DS_Store
npm-debug.log
Thumbs.db
**/node_modules/
*/out/
*/.vs/
tsconfig.lsif.json
*.lsif
*.db
*.tsbuildinfo
out
dist
node_modules
.vscode-test/
*.vsix

# Don't check in API files. These should be pulled in during install
vscode*.d.ts
*.vsix
tst.log
